name: SSH and Run top Command

on:
  workflow_dispatch:   # Manual trigger
  push:
    branches:
      - main

jobs:
  ssh-run:
    runs-on: ubuntu-latest

    steps:

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.server_ip }} >> ~/.ssh/known_hosts

      - name: Connect to Server
        run: |
          echo "SSH connection test"
          ssh ec2-user@${{ secrets.server_ip }} 
          echo "Connected Successfully"

      - name: Run top Command
        run: |
          echo "Running top command..."
          ssh ec2-user@${{ secrets.server_ip }} "top"
