name: SSH and Run top Command_tejaswi

on:
  workflow_dispatch:  # Manual trigger → you can run this workflow manually from GitHub Actions
  push:
    branches:
      - main        # Workflow also runs automatically whenever code is pushed to main branch

jobs:
  ssh-run:
    runs-on: ubuntu-latest   # GitHub provides a temporary Ubuntu machine to run this workflow

    steps:

      # -------------------------------
      # Step 1: Setup SSH
      # -------------------------------
      - name: Setup SSH
        run: |
          # Create SSH folder in the runner machine
          mkdir -p ~/.ssh

          # Save the private key from GitHub Secrets to a file
          # This key allows the runner to authenticate with EC2
          
          echo "${{ secrets.AWS_SECRETKEY}}" > ~/.ssh/id_rsa

          # Set secure permissions on the private key
          # Only the owner can read/write it
          
          chmod 600 ~/.ssh/id_rsa

          # Add the EC2 server fingerprint to known_hosts
          # Prevents SSH from asking "Are you sure you want to continue connecting?"
          
          ssh-keyscan -H ${{ secrets.AWS_IPADDRESS }} >> ~/.ssh/known_hosts

      # -------------------------------
      # Step 2: Test SSH Connection
      # -------------------------------
      - name: Test SSH Connection
        run: |
          echo "Testing SSH connection..."
          
          # SSH into the EC2 server using the private key
          # StrictHostKeyChecking=no prevents prompt if host is new
          # Run a simple command on EC2 to confirm connection
          
          ssh -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no ec2-user@${{ secrets.SERVER_IP }} "echo Connected Successfully"

          # If successful, logs will show: "Connected Successfully"

      # -------------------------------
      # Step 3: Run top Command
      # -------------------------------
      - name: Run top Command
        run: |
          echo "Running top command..."

          # SSH into EC2 and run top in batch mode
          # -b → batch mode (non-interactive)
          # -n 1 → run top only once and exit (required in CI/CD)
          
          ssh -i ~/.ssh/id_rsa ec2-user@${{ secrets.SERVER_IP }} "top -b -n 1"

          # Output shows CPU, memory, and running processes snapshot
