name: SSH and Run top Command

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  ssh-run:
    runs-on: ubuntu-latest

    steps:

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.SERVER_IP }} >> ~/.ssh/known_hosts

      - name: Test SSH Connection
        run: |
          echo "Testing SSH connection..."
          ssh -o StrictHostKeyChecking=no ec2-user@${{ secrets.SERVER_IP }} "echo Connected Successfully"

      - name: Run top Command
        run: |
          echo "Running top command..."
          ssh ec2-user@${{ secrets.SERVER_IP }} "top"
