ename: SSH and Run top Command

on:
  workflow_dispatch:   # Manual trigger
  push:
    branches:
      - main

jobs:
  ssh-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.server_ip }} >> ~/.ssh/known_hosts

      - name: SSH and Run top
        run: |
          ssh ${{ secrets.SSH_USER }}@${{ secrets.server_ip }} "top -b -n 1"
