name: SSH and Run top Command - Pavi

on:
  # workflow_dispatch:   # Manual trigger
  # push:
  #   branches:
  #     - main
  workflow_dispatch:
    inputs:
      check_type:
        description: "Select Health Check Type"
        required: true
        type: choice
        options:
          - cpu
          - memory
          - disk
          - port
          - uptime
          - load
          - processes
          - network
          - docker
          - java
          - logs
          - service
          - disk-usage-detail
          - open-files
  schedule:
    - cron: '0 9 * * *'   # Runs daily at 9 AM UTC

jobs:
  ssh-run:
    runs-on: ubuntu-latest

    steps:

      # -------------------------------
      # Step 1: Setup SSH
      # -------------------------------
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh

          # Save private key from GitHub Secrets
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa

          # Set correct permission
          chmod 600 ~/.ssh/id_rsa

          # Add EC2 server to known hosts
          ssh-keyscan -H ${{ secrets.SERVER_IP }} >> ~/.ssh/known_hosts


      # -------------------------------
      # Step 2: Test SSH Connection
      # -------------------------------
      - name: Test SSH Connection
        run: |
          echo "Testing SSH connection..."

          ssh -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no \
          ec2-user@${{ secrets.SERVER_IP }} \
          "echo Connected Successfully"


      # -------------------------------
      # Step 3: Set Variable
      # -------------------------------
      # - name: Set Command Variable
      #   id: set-command
      #   run: |

      #     CHECK="${{ github.event.inputs.check_type }}"

      #     if [ "$CHECK" == "cpu" ]; then
      #       echo "COMMAND=top -b -n 1" >> $GITHUB_ENV

      #     elif [ "$CHECK" == "memory" ]; then
      #       echo "COMMAND=free -h" >> $GITHUB_ENV

      #     elif [ "$CHECK" == "disk" ]; then
      #       echo "COMMAND=df -h" >> $GITHUB_ENV

      #     elif [ "$CHECK" == "port" ]; then
      #       echo "COMMAND=netstat -tulnp" >> $GITHUB_ENV

      #     elif [ "$CHECK" == "uptime" ]; then
      #       echo "COMMAND=uptime" >> $GITHUB_ENV

      #     elif [ "$CHECK" == "load" ]; then
      #       echo "COMMAND=cat /proc/loadavg" >> $GITHUB_ENV

      #     elif [ "$CHECK" == "processes" ]; then
      #       echo "COMMAND=ps -ef" >> $GITHUB_ENV

      #     elif [ "$CHECK" == "network" ]; then
      #       echo "COMMAND=ip addr show" >> $GITHUB_ENV

      #     elif [ "$CHECK" == "docker" ]; then
      #       echo "COMMAND=docker ps -a" >> $GITHUB_ENV

      #     elif [ "$CHECK" == "java" ]; then
      #       echo "COMMAND=ps -ef | grep java" >> $GITHUB_ENV

      #     elif [ "$CHECK" == "logs" ]; then
      #       echo "COMMAND=tail -n 50 /home/ec2-user/app.log" >> $GITHUB_ENV

      #     elif [ "$CHECK" == "service" ]; then
      #       echo "COMMAND=systemctl list-units --type=service --state=running" >> $GITHUB_ENV

      #     elif [ "$CHECK" == "disk-usage-detail" ]; then
      #       echo "COMMAND=du -h --max-depth=1 /home/ec2-user" >> $GITHUB_ENV

      #     elif [ "$CHECK" == "open-files" ]; then
      #       echo "COMMAND=lsof" >> $GITHUB_ENV

      #     else
      #       echo "Invalid input. Defaulting to CPU check."
      #       echo "COMMAND=top -b -n 1" >> $GITHUB_ENV

      #     fi

      - name: Set Command Variable
        id: set-command
        run: |

          CHECK="${{ github.event.inputs.check_type }}"

          case "$CHECK" in

            cpu)
              COMMAND="top -b -n 1"
              ;;

            memory)
              COMMAND="free -h"
              ;;

            disk)
              COMMAND="df -h"
              ;;

            port)
              COMMAND="netstat -tulnp"
              ;;

            uptime)
              COMMAND="uptime"
              ;;

            load)
              COMMAND="cat /proc/loadavg"
              ;;

            processes)
              COMMAND="ps -ef"
              ;;

            network)
              COMMAND="ip addr show"
              ;;

            docker)
              COMMAND="docker ps -a"
              ;;

            java)
              COMMAND="ps -ef | grep java"
              ;;

            logs)
              COMMAND="tail -n 50 /home/ec2-user/app.log"
              ;;

            service)
              COMMAND="systemctl list-units --type=service --state=running"
              ;;

            disk-usage-detail)
              COMMAND="du -h --max-depth=1 /home/ec2-user"
              ;;

            open-files)
              COMMAND="lsof"
              ;;

            *)
              echo "Invalid option. Defaulting to CPU check."
              COMMAND="top -b -n 1"
              ;;

          esac

          echo "COMMAND=$COMMAND" >> $GITHUB_ENV
      # -------------------------------
      # Step 3: Run Selected Command
      # -------------------------------
      - name: Run selected check
        run: |
          echo "Running: $COMMAND"

          ssh -i ~/.ssh/id_rsa ec2-user@${{ secrets.SERVER_IP }} \
          "$COMMAND" > report.txt

          echo "Report saved to report.txt"


      # -------------------------------
      # Step 4: Send Email with report
      # -------------------------------
      - name: Send top report via Email
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: "EC2 Top Report"
          body: "Attached is the latest EC2 top report."
          to: ${{ secrets.EMAIL_USERNAME }}   # send to yourself
          from: ${{ secrets.EMAIL_USERNAME }}
          attachments: top-report.txt
          secure: true
